<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>

  <body>
    <h1>Here is a list of users</h1>
    <div class="root-container users">
        <% @users.each do |user| %>
          <%= link_to(user) do %>
            <%= render "shared/user_info", user: user %>
          <%end%>
        <%end%>
    </div>
    <%= notice %>
    <%= alert %>
  </body>
</html>
