<div class="comment">
  <span class="user-name"><%=comment.author.name%></span>:  <span><%=comment.text%></span>
  <% if can? :destroy, comment %>
    <% form_with model:comment, url: post_comments_path(@user, post, id: comment.id), method: :delete do |f| %>
      <%= f.submit "X", class: 'remove-btn' %>
      <% end %>
  <% end %>
</div>